
<h2 id="title">Portfolio </h2>

{{outlet}}

<br>
<div class= "footer">
  {{#link-to 'index'}}Home{{/link-to}}
  |
  {{#link-to 'projects'}}Projects{{/link-to}}
  |
  {{#link-to 'resume'}}Resume{{/link-to}}
</div>
